<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <script src="https://kit.fontawesome.com/7d37d5d745.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/colors.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(window).on('load', function () {  
                $(".wrapper-wrapper").delay(1000).fadeOut("slow");  
            });
        })
    </script>
    <script src="/js/details.js"></script>
        
    <!-- DarkMode -->
    <link rel="stylesheet" href="/css/colors.css">
    <script src="/js/darkMode.js"></script>
    <script>
        var toggleSunMoon = (isDarkModeCurrent) => {
            if (isDarkModeCurrent){
                document.querySelector(".theme-btn .fa").classList.add("fa-moon");
                document.querySelector(".theme-btn .fa").classList.remove("fa-sun");
            }else{
                document.querySelector(".theme-btn .fa").classList.remove("fa-moon");
                document.querySelector(".theme-btn .fa").classList.add("fa-sun");
            }
        }
    </script>
    <script>
        var isDarkModeCurrent = JSON.parse(localStorage.getItem("theme")).isDarkMode
        console.log(isDarkModeCurrent)
        toggleDarkMode(isDarkModeCurrent)

        window.onload=function(){
            toggleSunMoon(isDarkModeCurrent)
        }
    </script>
    
</head>
<body>
    <div class="wrapper-wrapper">
        <div class="wrapper-lock">
            <div class="base">
                <div class="base-bottom">
                </div>
                <div class="lock-inside-top">
                </div>
                <div class="lock-inside-bottom">
                </div>
            </div>
            <div class="lock-cirlce">
                <div class="lock-circle-inside">
                </div>
            </div>
            <div class="lock-box">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <div class="back">
                <a href="/"><i class="fa fa-long-arrow-left"></i></a>
            </div>
            <div class="image">
                <div class="overlay-img" onclick= "document.getElementById('upload').style.display='block'; document.getElementById('fade').style.display='block'">
                    <div class="edit-button">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <!-- <img src="../public/images/user.png" alt="" srcset="" class="user-img"> -->
                <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>">
                
            </div>
            <br><div class="name"> <%- user.name %></div>
            <div class="links">
                <ul>
                    <li id="profile-link" class="active"><a href="#profile" onclick="makeActive('profile')"><span class="icons"><i class="fa fa-user"></i></span> Profile</a></li>
                    <li id="security-link"><a href="#security" onclick="makeActive('security')"><span class="icons"><i class="fa fa-shield"></i></span> Security</a></li>
                    <li id="upgrade-link"><a href="#upgrade" onclick="makeActive('upgrade')"><span class="icons"><i class="fa fa-level-up"></i></span>&nbsp; Upgrade</a></li>
                    <li>
                        <form action="/logout?_method=DELETE" method="post">
                            <a href="" onclick="this.closest('form').submit();return false;">
                                <span class="icons"><i class="fa fa-sign-out"></i></span> Log out
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="profile">
                <h1 class="heading" id="profile">Profile</h1>
                <form action="/dashboard/updateuser/<%- user._id %>?_method=PUT" method="POST">
                    <table class="tableE">
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="name">Full Name: </label>
                            </td>
                            <td class="tdE field">
                                <input type="text" name="name" id="name" value="<%- user.name %>">
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="age">Year Of Birth: </label>
                            </td>
                            <td class="tdE field">
                                <input type="number" name="yob" id="yob" value="<%- user.yob %>" min="1922" max="2021">
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="email">Your Email: </label>
                            </td>
                            <td class="tdE field">
                                <input type="email" name="email" id="email" value="<%- user.email %>" readonly class="marginB">
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="gender">Your Gender:</label>
                            </td>
                            <td class="tdE field">
                                <label class="gender-label" for="male">Male</label><input type="radio" name="gender" id="male" value="male" <% if (user.gender == 'male') { %> checked <% } %> >
                                <label class="gender-label" for="female">Female</label><input type="radio" name="gender" id="female" value="female" <% if (user.gender == 'female') { %> checked <% } %>>
                                <label class="gender-label" for="other">Custom</label><input type="radio" name="gender" id="other" value="other" <% if (user.gender == 'other') { %> checked <% } %>>
                            </td>
                        </tr>
                            <td class="tdE submit-cell" colspan="2">
                                <input type="submit" id="submit" value="Update Profile">
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="theme">
                    Preferred Theme 
                    <div class="theme-btn" onclick="toggleDarkMode(!isDarkModeCurrent); toggleSunMoon(isDarkModeCurrent)">
                        <i class="fa"></i>
                    </div>
                </div>
            </div>
            <div class="security">
                <h1 class="heading" id="security">Security</h1>
                <form action="/update-password-login" method="post">
                    <table class="tableE">
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="old_pass">Your Current Password: </label>
                            </td>
                            <td class="tdE field">
                                <input type="password" name="old_pass" required id="old_pass">
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="new_pass">Enter New Password: </label>
                            </td>
                            <td class="tdE field">
                                <input type="password" name="new_pass" required id="new_pass" onkeyup="verifyPassword()">
                                <span class="message" id="messageV"></span>
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE label">
                                <label for="r_new_pass">Confirm New Password</label>
                            </td>
                            <td class="tdE field">
                                <input type="password" name="r_new_pass" required id="r_new_pass" onkeyup="confirmPassword()">
                                <span class="message" id="messageC" class="marginB"></span>
                                <input type="text" name="mail" id="mail" value="<%- user.email %>" class="hidden">
                            </td>
                        </tr>
                        <tr class="trE">
                            <td class="tdE submit-cell" colspan="2">
                                <input type="submit" id="submit-btn" value="Change Password" class="ch-pw">
                            </td>
                        </tr>
                    </table>
                    
                    
                </form>
            </div>
            <div class="upgrade">
                <h1 class="heading" id="upgrade">Upgrade</h1>
                You are a member of 
                <% if (user.tier == 'glass'){ %> 
                    Glass (Free)
                <% }else if (user.tier == 'bronze') { %>
                    Bronze (Beginner)
                <% }else if (user.tier == 'silver') { %>
                    Silver (Premium)
                <% }else if (user.tier == 'golden') { %>
                    Golden (Professional)
                <% } %>
                Tier.
                <a href="/pricing" style="color: var(--link);">Upgrade</a> today to get more out of CredSaver
                <br>Compare the features of below given plans: <br><br>
                <!-- TODO:- make table here -->

                <div class="table-wrapper">
                    <table class="tableP">
                        <thead>
                            <tr class="trP">
                                <th class="empty thP"></th>
                                <th class="thP">Glass</th>
                                <th class="thP">Bronze</th>
                                <th class="thP">Silver</th>
                                <th class="thP">Gold</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="trP">
                                <td class="tdP features">Annual Cost* (INR)</td>
                                <td class="tdP"><strong>Free Forever</strong></td>
                                <td class="tdP num"><strong>&#8377; 199</strong></td>
                                <td class="tdP num"><strong>&#8377; 399</strong></td>
                                <td class="tdP num"><strong>&#8377; 699</strong></td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Number of credentials you can save</td>
                                <td class="tdP num">10</td>
                                <td class="tdP num">50</td>
                                <td class="tdP"><strong>Unlimited</strong></td>
                                <td class="tdP"><strong>Unlimited</strong></td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Encryption method</td>
                                <td class="tdP num">AES-128bit</td>
                                <td class="tdP num">AES-128bit</td>
                                <td class="tdP num">AES-256bit</td>
                                <td class="tdP num">AES-256bit</td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Change profile picture</td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Sherlocker access <i class="fa fa-info-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Unlimited credentials <i class="fa fa-info-circle"></i></td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                            </tr>
                            <tr class="trP">
                                <td class="tdP features">Custom encryption key <i class="fa fa-info-circle"></i></td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-no"><i class="fa fa-times-circle"></i></td>
                                <td class="tdP f-yes"><i class="fa fa-check-circle"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div id="fade" class="black_overlay" style="height: 100%; position: fixed;"></div>

    <div class="upload-wrapper">
        <div class="upload" id="upload">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input class="button" type="file" name="image" id="image" onchange="readURL(this);" style="border: none;">
                <input type="text" name='id' style="display: none;" value="<%- user._id %>">
                <br><img id="imgUploaded" src="#" alt="Your image shows up here">
                <div class="actions">
                    <button class="button update" type="submit">
                        Upload
                    </button>
                    <div class="update-wrapper">
                        <button type="reset" class="button close" onclick="document.getElementById('upload').style.display='none'; document.getElementById('fade').style.display='none'">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>





<!-- Hi <%- user.name %>

<form action="/logout?_method=DELETE" method="post">
    <button type="submit">
        Log out
    </button>
</form>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image" id="image">
    <input type="submit" value='Upload'>
    <input type="text" name='id' style="display: none;" value="<%- user._id %>">
</form>
<h1>Uploaded Images</h1>
<div>
    <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>">
</div> -->
