<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CredSaver New Credentials</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/loader.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(window).on('load', function () {  
                $(".wrapper-wrapper").delay(1000).fadeOut("slow");  
            });
        })
    </script>
    <script src="https://kit.fontawesome.com/7d37d5d745.js" crossorigin="anonymous"></script>
      
    <!-- DarkMode -->
    <link rel="stylesheet" href="/css/colors.css">
    <script src="/js/darkMode.js"></script>
    <script>
        var isDarkModeCurrent = JSON.parse(localStorage.getItem("theme")).isDarkMode
        console.log(isDarkModeCurrent)
        toggleDarkMode(isDarkModeCurrent)
    </script>
</head>
<body>
    <div class="wrapper-wrapper">
        <div class="wrapper-lock">
            <div class="base">
                <div class="base-bottom">
                </div>
                <div class="lock-inside-top">
                </div>
                <div class="lock-inside-bottom">
                </div>
            </div>
            <div class="lock-cirlce">
                <div class="lock-circle-inside">
                </div>
            </div>
            <div class="lock-box">
            </div>
        </div>
    </div>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="logo" srcset="">
            <span class="section-title">CredSaver</span>
        </div>
        <!-- <div class="searchbar">
            <input type="text" placeholder="Search My Credentials">
            <i class="fas fa-search"></i>
        </div> -->
        <div class="details-wrapper">
            <a href="/userDetails">
                <div class="loginDetails">
                    <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" srcset="">
                    <span class="email"> <%- user.email %> </span>
                    <span class="name"> <%- user.name %> </span>
                </div>
            </a>
        </div>
    </header>

    <main>
        <div class="messageDone">
            <%- message %>
            <a href="/dashboard">Back to all credentials</a>
            <div class="thumbs-up">
                <i class="fa fa-thumbs-up"></i><br><br>Well Done!
            </div>
        </div>
        
    </main>
</body>
</html>