<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CredSaver</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/loader.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/loader.js"></script>
    <script src="https://kit.fontawesome.com/7d37d5d745.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    
    <!-- DarkMode -->
    <link rel="stylesheet" href="/css/colors.css">
    <script src="/js/darkMode.js"></script>
    <script>
        var isDarkModeCurrent = JSON.parse(localStorage.getItem("theme")).isDarkMode
        console.log(isDarkModeCurrent)
        toggleDarkMode(isDarkModeCurrent)
    </script>
</head>
<body>
    <div class="wrapper-wrapper">
        <div class="wrapper-lock">
            <div class="base">
                <div class="base-bottom">
                </div>
                <div class="lock-inside-top">
                </div>
                <div class="lock-inside-bottom">
                </div>
            </div>
            <div class="lock-cirlce">
                <div class="lock-circle-inside">
                </div>
            </div>
            <div class="lock-box">
            </div>
        </div>
    </div>
    
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="logo" srcset="">
            <span class="section-title">CredSaver</span>
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search My Credentials" onkeyup="searchFunc()" id="searchbar">
            <i class="fas fa-search"></i>
        </div>
        <div class="details-wrapper">
            <a href="/userDetails">
                <div class="loginDetails">
                    <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" srcset="">
                    <span class="email"> <%- user.email %> </span>
                    <span class="name"> <%- user.name %> </span>
                </div>
            </a>
        </div>
    </header>
    <main>
        <p id="notfound">
            No credentials found!
        </p>
        <div id="fade" class="black_overlay" style="height: 100%; position: fixed;"></div>
        <section class="creds-list">
            <% if(credentials.length == 0) { %>
                <div class="no-cred">
                    <div class="empty-image">
                        <img src="/images/vault.png">
                    </div>
                    <div class="section-title">
                        No credentials to see yet!
                    </div>
                    <div class="section-subtitle">
                        Click on the <i class="fas fa-plus-circle"></i> to get started.
                    </div>
                </div>
            <% } else{ %>
                <div class="creds-wrapper">
                    <% credentials.forEach((item, index)=>{ %>
                        <div class="creds" onclick= "document.getElementById('<%- item.siteName %>').style.display='block'; document.getElementById('fade').style.display='block'">
                            <div class= "icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="sitename">
                                <%- item.siteName %>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="cred-details-wrapper">
                    <% credentials.forEach((item, index)=>{ %>
                        <div class="details" id="<%- item.siteName %>">
                            <div class="site-name detail">
                                <span class="key">
                                    Site Name:
                                </span>
                                <span class="value">
                                    <%- item.siteName %>
                                </span>
                            </div>
                            <div class="username detail">
                                <span class="key">
                                    Username: 
                                </span>
                                <span class="username">
                                    <%- item.username %> <br>
                                </span>
                            </div>
                            <div class="password detail">
                                <span class="key">
                                    Password:
                                </span>
                                <span class="value" unselectable='on'>
                                    <input type="password" name="password" id="password" class='pwdBox' value="<%- item.password %>" readonly>
                                    <label for="show-pwd">
                                        <i class="far fa-eye-slash"></i>
                                        <i class="far fa-eye"></i>
                                    </label>
                                    <input type="checkbox" name="show-pwd" id="show-pwd" onclick="hideShowfunc()">
                                </span>
                            </div>
                            
                            <div class="actions">
                                <form action="/dashboard/<%- item._id %>?_method=DELETE" method="post">
                                    <button class="button delete" type="submit">
                                        Delete Password
                                    </button>
                                </form>
                                <div class="update-wrapper">
                                    <button class="button update" onclick="window.location.href='/dashboard/update/<%- item._id %>'">
                                        Update Credentials
                                    </button>
                                </div>
                            </div>
                            <div class="close-wrapper">
                                <button class="button close" onclick="document.getElementById('<%- item.siteName %>').style.display='none'; document.getElementById('fade').style.display='none'">
                                    Close
                                </button>
                            </div>
                            
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </section>
        <section class="plus-bottom">
            <a href="/dashboard/new-cred">
                <div class="new-cred">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            
        </section>
    </main>
    <footer>

    </footer>

    


</body>
</html>
